@{
    ViewData["Title"] = "Crear Tablero";    
}
@model Tablero
@{
    Model.IdUsuarioPropietario = 0;
}

<div class="text-center d-flex flex-column align-items-center">
    <h1 class="text-success">Crear Tablero</h1>
    <form class="w-50 my-2 p-4 border border-3 border-success rounded-2 border-opacity-25" asp-controller="Tablero" asp-action="CrearTablero">
        <fieldset>
            <input hidden asp-for="@Model.IdUsuarioPropietario">
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" asp-for="@Model.Nombre" aria-describedby="emailHelp" placeholder="Nombre del tablero" required>
                <label asp-for="@Model.Nombre" class="form-label text-center">Nombre</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" asp-for="@Model.Descripcion" aria-describedby="emailHelp" placeholder="Descripcion" required>
                <label asp-for="@Model.Descripcion" class="form-label text-center">Descripcion</label>
            </div>
            <button type="submit" class="btn  btn-outline-success">Submit</button>
        </fieldset>
    </form>
</div>
