@{
    ViewData["Title"] = "Logueo";
}
@model ViewUsuarioLogin

<div class="text-center m-4 p-4">
    <h1 class="text-success">Logueo</h1>
    <form class="m-auto w-50 needs-validation" novalidate asp-controller="Login" asp-action="Login" method="post">
        <fieldset>
            <div class="my-3">
                <label asp-for="@Model.Name" class="form-label">Usuario</label>
                <input type="text" asp-for="@Model.Name" class="form-control" placeholder="ElMejorUsuario29">
                <span asp-validation-for="@Model.Name" class="text-danger"></span> 
            </div>
            <div class="my-3">
                <label asp-for="@Model.Pass">Contraseña</label>
                <input type="password" asp-for="@Model.Pass" class="form-control" placeholder="Contraseña">
                <span asp-validation-for="@Model.Pass" class="text-danger"></span>
            </div>
            <button type="submit" class="btn my-4 w-50 fs-5 btn-outline-success">Enviar</button>
        </fieldset>
    </form>
</div>
