@{
    ViewData["Title"] = "Agregar Tarea";    
}
@model ViewTareaInfo;

<div class="text-center d-flex flex-column align-items-center">
    <h1 class="text-success">Agregar Tarea</h1>
    <form class="w-50 my-2 p-4 border border-3 border-success rounded-2 border-opacity-25" asp-controller="Tarea" asp-action="CrearTarea">
        <fieldset>
            <div class="mb-3">
                <label asp-for="@Model.Tarea.IdTablero">Tablero: </label>
                <select class="form-select" asp-for="@Model.Tarea.IdTablero">
                    <option selected value="0">Sin Tablero</option>
                    @foreach(var tablero in Model.Tableros){
                        <option value="@tablero.Id">@tablero.Nombre</option>
                    }
                </select>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" asp-for="@Model.Tarea.Nombre" aria-describedby="emailHelp" placeholder="Nombre del tablero" required>
                <label asp-for="@Model.Tarea.Nombre" class="form-label text-center">Nombre</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" asp-for="@Model.Tarea.Descripcion" aria-describedby="emailHelp" placeholder="Descripcion del tablero" required>
                <label asp-for="@Model.Tarea.Descripcion" class="form-label text-center">Descripcion</label>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Tarea.Color">Color:</label>
                <input type="color" class="form-control" id="Color" name="Color" value="#ff0000" onchange="GuardarColor()">
                <input type="text" class="form-control" id="stringColor" name="Color" readonly hidden>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Tarea.Estado">Estado: </label>
                <select class="form-select" asp-for="@Model.Tarea.Estado">
                    <option selected value="0">Ideas</option>
                    <option value="1">ToDo</option>
                    <option value="2">Doing</option>
                    <option value="3">Review</option>
                    <option value="4">Done</option>
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Tarea.IdUsuarioAsignado">Usuario Asignado: </label>
                <select class="form-select" asp-for="@Model.Tarea.IdUsuarioAsignado">
                    <option selected value="0">Sin Asignar</option>
                    @foreach(var usuario in Model.Usuarios){
                        <option value="@usuario.Id">@usuario.NombreDeUsuario</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn  btn-outline-success">Enviar</button>
        </fieldset>
    </form>
</div>
<script>
    function GuardarColor() {
        var Color = document.getElementById('Color');
        var stringColor = document.getElementById('stringColor');

        stringColor.value = Color.value;
    }
</script>