@{
    ViewData["Title"] = "Agregar Tarea";    
}
@model ViewTareaAdd;

<div class="text-center d-flex flex-column align-items-center">
    <h1 class="text-dark">Agregar Tarea</h1>
    <form class="w-50 my-2 p-4 border border-3 border-dark rounded-2 border-opacity-25" asp-controller="Tarea" asp-action="CrearTarea" method="post">
        <fieldset>
            <div class="mb-3">
                <label asp-for="@Model.IdTablero">Tablero: </label>
                <select class="form-select" asp-for="@Model.IdTablero">
                    <option selected value="0">Sin Tablero</option>
                    @foreach(var tablero in Model.Tableros){
                        <option value="@tablero.Id">@tablero.Nombre</option>
                    }
                </select>
                <span asp-validation-for="@Model.IdTablero" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" asp-for="@Model.Nombre" aria-describedby="emailHelp" placeholder="Nombre del tablero">
                <label asp-for="@Model.Nombre" class="form-label text-center">Nombre</label>
                <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" asp-for="@Model.Descripcion" aria-describedby="emailHelp" placeholder="Descripcion del tablero">
                <label asp-for="@Model.Descripcion" class="form-label text-center">Descripcion</label>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Color">Color:</label>
                <input asp-for="@Model.Color" class="form-control" id="stringColor" name="Color" readonly hidden>
                <input type="color" class="form-control" id="Color" onchange="GuardarColor()">
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Estado">Estado: </label>
                <select class="form-select" asp-for="@Model.Estado">
                    <option selected value="0">Ideas</option>
                    <option value="1">ToDo</option>
                    <option value="2">Doing</option>
                    <option value="3">Review</option>
                    <option value="4">Done</option>
                </select>
                <span asp-validation-for="@Model.Estado" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.IdUsuarioAsignado">Usuario Asignado: </label>
                <select class="form-select" asp-for="@Model.IdUsuarioAsignado">
                    <option selected value="0">Sin Asignar</option>
                    @foreach(var usuario in Model.Usuarios){
                        <option value="@usuario.Id">@usuario.NombreDeUsuario</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn  btn-outline-success">Enviar</button>
        </fieldset>
    </form>
</div>
<script>
    function GuardarColor() {
        var Color = document.getElementById('Color');
        var stringColor = document.getElementById('stringColor');
        stringColor.value = Color.value;
    }
</script>
@section Scripts{<partial name="_ValidationScriptsPartial"/>}