@{
    ViewData["Title"] = "Tareas";    
}
@model ViewTareaListado

<div class="px-3">
    <h1 class="display-4 text-center">Tareas</h1>
    <div class="scroll-horizontal">
      <br><h3>Mis tareas:</h3><hr>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          @foreach(var t in Model.Tareas){
            if(t.Usuario_asignado == Context.Session.GetString("User")){
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@t.Id" aria-expanded="false" aria-controls="flush-collapse-@t.Id">
                    @t.Nombre
                  </button>
                </h2>
                <div id="flush-collapse-@t.Id" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <div>
                      <p><strong>Propietario: </strong>
                        <button class="btn btn-secondary w-100 d-flex flex-row justify-content-center align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="rounded-circle" src="~/img/@t.Imagen" alt="logo"
                                width="30px" height="30px">
                            <p class="text-white m-2">@t.Usuario_asignado</p>
                        </button>
                      </p>
                      <p><strong>Tablero:</strong> @t.Tablero<a class="btn btn-outline-primary mx-4" title="Ver Tablero" asp-controller="Tablero" asp-action="VerTablero" asp-route-id="@t.Id_tablero"><i class="bi bi-search"></i></a></p>
                      <p><strong>Estado:</strong> @t.Estado</p>
                      <p><strong>Color:</strong> <img height="30px" width="60px" class="rounded" style="background-color: @t.Color;"></p>
                      <p class="wrap"><strong>Descripcion:</strong><br>@t.Descripcion</p>
                    </div>
                    <hr>
                    <div class="d-flex flex-wrap flex-row justify-content-end align-items-center">
                      @if(Context.Session.GetString("User") == t.Usuario_asignado || (t.Usuario_asignado == "Sin Propietario" && Context.Session.GetString("Rol") == "Administrador")){
                        <a class="btn mx-1 btn-outline-primary" asp-controller="Tarea" asp-action="ModificarTarea" asp-route-id="@t.Id">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                      }
                      @if(Context.Session.GetInt32("Id")==t.Propietario_tablero || Context.Session.GetString("Rol")=="Administrador"){
                        <button type="button" class="btn mx-1 btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-@t.Id">
                            <i class="bi bi-trash"></i> Eliminar
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal-@t.Id" tabindex="-1" aria-labelledby="exampleModalLabel-@t.Id"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel-@t.Id">Eliminar Tarea</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Desea eliminar a @t.Nombre?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <a class="btn  btn-outline-danger" asp-controller="Tarea" asp-action="EliminarTarea" asp-route-id="@t.Id">Confirmar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      }
                    </div>
                  </div>
                </div>
              </div>
            }
          }
        </div>
        <br><h3>Otras tareas:</h3><hr>
        <div class="accordion accordion-flush" id="accordionFlush2">
          @foreach(var t in Model.Tareas){
            if(t.Usuario_asignado != Context.Session.GetString("User")){
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@t.Id" aria-expanded="false" aria-controls="flush-collapse-@t.Id">
                    @t.Nombre
                  </button>
                </h2>
                <div id="flush-collapse-@t.Id" class="accordion-collapse collapse" data-bs-parent="#accordionFlush2">
                  <div class="accordion-body">
                    <div>
                      <p><strong>Propietario: </strong>
                        <button class="btn btn-secondary w-100 d-flex flex-row justify-content-center align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="rounded-circle" src="~/img/@t.Imagen" alt="logo"
                                width="30px" height="30px">
                            <p class="text-white m-2">@t.Usuario_asignado</p>
                        </button>
                      </p>
                      <p><strong>Tablero:</strong> @t.Tablero<a class="btn btn-outline-primary mx-4" title="Ver Tablero" asp-controller="Tablero" asp-action="VerTablero" asp-route-id="@t.Id_tablero"><i class="bi bi-search"></i></a></p>
                      <p><strong>Estado:</strong> @t.Estado</p>
                      <p><strong>Color:</strong> <img height="30px" width="60px" class="rounded" style="background-color: @t.Color;"></p>
                      <p class="wrap"><strong>Descripcion:</strong><br>@t.Descripcion</p>
                    </div>
                    <hr>
                    <div class="d-flex flex-wrap flex-row justify-content-end align-items-center">
                      @if(Context.Session.GetString("User") == t.Usuario_asignado || (t.Usuario_asignado == "Sin Propietario" && Context.Session.GetString("Rol") == "Administrador")){
                        <a class="btn mx-1 btn-outline-primary" asp-controller="Tarea" asp-action="ModificarTarea" asp-route-id="@t.Id">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                      }
                      @if(Context.Session.GetString("User")==t.Usuario_asignado || Context.Session.GetString("Rol")=="Administrador"){
                        <button type="button" class="btn mx-1 btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-@t.Id">
                            <i class="bi bi-trash"></i> Eliminar
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal-@t.Id" tabindex="-1" aria-labelledby="exampleModalLabel-@t.Id"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel-@t.Id">Eliminar Tarea</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Desea eliminar a @t.Nombre?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <a class="btn  btn-outline-danger" asp-controller="Tarea" asp-action="EliminarTarea" asp-route-id="@t.Id">Confirmar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      }
                    </div>
                  </div>
                </div>
              </div>
            }
          }
        </div>
    </div>
    <div class="text-center">
      <a class="btn btn-outline-success fs-5 py-2 px-4 mx-auto mt-3" asp-area="" asp-controller="Tarea" asp-action="CrearTarea"><i class="bi bi-plus-lg"></i> Crear Tarea</a>
    </div>
</div>
