@{
    ViewData["Title"] = "Tablero";    
}
@model List<Tablero>

<div class="text-center">
    <h1 class="display-4">Tableros</h1>
    <table class="table caption-top">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">ID Propietario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descrpcion</th>
                <th scope="col">Modificar</th>
                <th scope="col">Borrar</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var t in Model){
                <tr>
                    <th class="m-auto" scope="row">@t.Id</th>
                    <th class="m-auto" scope="row">@t.IdUsuarioPropietario</th>
                    <td class="m-auto col">@t.Nombre</td>
                    <td class="m-auto col-6">@t.Descripcion</td>
                    <td><a class="btn  btn-outline-primary" asp-controller="Tablero" asp-action="ModificarTablero" asp-route-id="@t.Id"><i class="bi bi-pencil-square"></i></a></td>
                    <td>
                        @* <a class="btn  btn-outline-danger" asp-controller="Tablero" asp-action="EliminarTablero" asp-route-idTablero="@u.Id" onclick="return confirm('¿Estas seguro que quieres eliminar a @u.NombreDeTablero?')"><i class="bi bi-trash"></i></a> *@

                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-@t.Id">
                            <i class="bi bi-trash"></i>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal-@t.Id" tabindex="-1" aria-labelledby="exampleModalLabel-@t.Id"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel-@t.Id">Eliminar Usuario</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Desea eliminar a @t.Nombre?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <a class="btn  btn-outline-danger" asp-controller="Tablero" asp-action="EliminarTablero" asp-route-id="@t.Id">Confirmar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-outline-success fs-5 py-2 px-4" asp-area="" asp-controller="Tablero" asp-action="CrearTablero"><i class="bi bi-plus-lg"></i> Crear Tablero</a>
</div>
